.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 12px 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000000;
  max-width: 820px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.nav a {
  font-size: 26px;
  font-weight: 700;
  color: #ff0000;
}
.down {
  transform: translateY(-100%);
}
